<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <type name="TheBigSurf\WireUpdateHook\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="TheBigSurf\WireUpdateHook\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">myLoggerName</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">TheBigSurf\WireUpdateHook\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <preference for="TheBigSurf\WireUpdateHook\Api\SkuRepositoryInterface" type="TheBigSurf\WireUpdateHook\Model\SkuRepository" />

</config>
